<div class="container">
  <h1>{{model.name}}</h1>
  <ul>
    {{#each model.books as |book|}}
    <li>{{#link-to 'book' book.id}}{{book.title}}{{/link-to}} by {{book.author}}</li>
    {{/each}}
  </ul>
</div>
