{{genre-list genres=model.genres chooseGenre="chooseGenre"}}


  <!-- {{#each model.genres as |genre|}}{{genre.name}} |
  {{/each}} -->
<p>
  {{#each model.books as |book|}}{{book.title}}
  {{/each}}
</p>
